{% extends "base.html" %}
{% block title %}Chart{% endblock title %}
{% block header %}{{ header }}{% endblock header %}
{% block content %}
     <section class="container">
        <p>{{ message }}</p>
        <p></p>
            <nav>
                <ul>
                    {% for chart in charts %}
                    <li>{{ chart }}</li>
                    {% empty %}
                    <li>
                        <font color=red > No matches </font>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
    </section>
{% endblock content %}