{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block header %}{{ header }}{% endblock header %}
{% block content %}
   <p>
        {{message}}
   </p>
   <li>
       <a href="yandex.html">
           <img src="../static/images/ya_music_icon.png" width="200" height="200" border="0" alt="Yandex Music">
       </a>
   </li>
   <li>
       <a href="spotify.html">
           <img src="../static/images/spotify_icon.png" width="200" height="200" border="0" alt="Spotify">
       </a>
   </li>
   <li>
       <a href="lastfm.html">
           <img src="../static/images/lastfm_icon.png" width="200" height="200" border="0" alt="LastFM">
       </a>
   </li>

{% endblock content %}
